@charset "UTF-8";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
:root{
    --cor1: #5A2B7C;
    --cor2: #FAFFFC;
    --cor3: #4aa198ee;
    --cor4: #92d0cb;
}
body, html{
    background-color: var(--cor1);
    height: 100vh;
    width: 100vw;
}
main{
    height: 100vh;
    width: 100vw;
    position: relative;
}
section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden; /*isso tira o que tiver fora */

    background-color: white;
    width: 250px;
    height: 520px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.404);
    transition: width 1s, height 1s;
    transition-timing-function: ease;
}
#imagem{
    display: block;
    background: var(--cor1) url(../imagens/padrao200px.jpg);
    height: 200px;
    width: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}
div#formulario{
    display: block;
    padding: 10px;
}
div#formulario > h1{
    text-align: center;
    margin-bottom: 10px;
}
div#formulario > p {
    font-size: 1em;
}
div.campo input{
 width: 35vw;
}
form > input[type=submit]{
   display: block;
   font-size: 1em;
   width: 100%;
   height: 40px;
   background-color: var(--cor3);
   color: white;
   border: 0px;
   border-radius: 5px;
}
form > input[type=submit]:hover{
    background-color: #386e6ae8;
    cursor: pointer;
}
form > button{
    width: 100%;
    border: 1px solid var(--cor3);
    height: 40px;
    font-size: 1em;
    color: var(--cor3);
    background-color: white;
    border-radius: 5px;
    margin-top: 5px;
}
form > button:hover{
background-color: var(--cor4);
}
.campo{
  background-color: var(--cor1);
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  margin: 5px 0px;
}
form > div > label{
    display: none;
}
@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(180deg, #5A2B7C, #4aa198ee);
    }
    section#login{
        width: 90vw;
        height: 60vh;
    }
    #imagem{
         width: 30%;
         height: 100%;
         background: url(../imagens/padrao400px.jpg);
         background-repeat: no-repeat;
         background-size: cover;
         background-position: center;
         float: left;
    }
    #formulario{
        float: right;
        width: 70%;
    }

}
@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(180deg, #5A2B7C, #4aa198ee);
    }
    section#login{
        width: 950px;
        height: 60vh;
    }
    #imagem{
        background: url(../imagens/padrao700px.jpg);
        background-repeat: no-repeat;
        float: right;
        width: 50%;
        height: 100%;
    }
    #formulario{
        float: left;
        width: 50%;
    
    }
    div#formulario > p {
    font-size: 1.2em;
    }
    div#formulario > h1 {
        font-size: 2em;
    }
}